/*flex容器*/
.flex-row {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.flex-col {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
  
.flex-row-col {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;

}
/*水平居中*/
.hor-center{
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;

}
  
.hor-start{
  display: flex;
  display: -webkit-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

.hor-end{
  display: flex;
  display: -webkit-flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
  
.hor-between{
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}
  
.hor-around{
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
  
/*垂直居中*/
.ver-center{
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
  
.ver-start{
  display: flex;
  display: -webkit-flex;
  align-items: flex-start;
  -webkit-align-items: flex-start;
}
  
.ver-end{
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
}
.ver-between{
  display: -webkit-flex;
  display: flex;
  flex-direction:row;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: space-between;
  align-content: space-between;
}
  
  
/*水平垂直居中*/
.hor-ver-center{
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -webkit-align-items: center;
}
  
.flex-wrap{
  display: flex;
  flex-wrap: wrap;
}

.flex-normal{
  flex: 1;
}
  