.brand .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.brand .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}
.brand .avatar-uploader-icon {
    font-size: 20px;
    color: #8c939d;
    width: 88px;
    height: 88px;
    line-height: 88px;
    text-align: center;
}
.brand .avatar {
    width: 88px;
    height: 88px;
    display: block;
}


.brand .search .searchItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;

}

.brand .search .searchItem .el-form-item {
    margin-left: 40px;
}

.brand .search .searchItem .el-form-item:first-child {
    margin-left: 0;
}
.brand .search .searchItem .el-form-item .el-form-item__label {
    text-align-last: justify;
}