.category .el-collapse-item__header {
    display: flex;
    align-items: center;
    height: auto;
}

.category .el-collapse-item__header div {
    margin-left: 30px;
}

.category .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.category .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}
.category .avatar-uploader-icon {
    font-size: 20px;
    color: #8c939d;
    width: 88px;
    height: 88px;
    line-height: 88px;
    text-align: center;
}
.category .avatar {
    width: 88px;
    height: 88px;
    display: block;
}

.category .el-button+.el-button {
    margin-left: 0;
}

.category .attr {
    background-color: #40FF4A;
    color: #fff;
    margin-right: 4px;
    padding: 1px 2px;
    margin-top: 4px;
}

.category .price .el-input, .category .price .el-input__inner{
    width: 60px;
}

.order .el-collapse-item__header {
    height: 240px;
}

.promotion.price > div {
    margin-left: 10px;
}

.promotion.price .el-button {
    margin-left: 10px;
}

.promotion.addBtn {
    margin-top: 30px;
}
.promotionEdit {
    margin-left: 20px;
}

.promotionEdit .textarea textarea {
    width: 400px;
}

.addPromotion, .promotionBtn {
    margin: 10px 10px;
}

.el-picker-panel {
    z-index: 1000000 !important;
}

